<div class="modal fade" data-backdrop="static" id="modal-extra-large">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="spinner-grow" style="width: 3rem; height: 3rem; display: none" role="status" prop-spinner="true">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="modal-header">
                <h4 class="modal-title">Default Modal</h4>
                <button type="button" class="close" data-bs-dismiss="modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Đang tải...</p>
            </div>
            <div class="modal-footer justify-content-end" prop-type="elems.buttons">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>