@using GPLX.Web.Models.Dashboard
@{
    ViewData["Title"] = "Tiến trình:" + Model.Title;
    ViewData["PageTitle"] = "Tiến trình:" + Model.Title;
}
@model DeXuatStepFilterModel
<div class="row">
    <input type="hidden" id="hddDeXuatCode" value="@Model.DeXuatCode" />
    <input type="hidden" id="hddIDRole" value="@Model.IDRole" />
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-md-12 col-12 col-sm-12">
                        <!--Section: Live preview-->
                        <section class="section-preview">

                            <form>
                                <ul class="stepper" id="feedback-step">
                                    @for(int i =0;i<Model.ProcessStepSearchResponseData.Data.Count ;i++)
                                    {
                                        var _css = "";
                                        var _comment = Model.ProcessStepSearchResponseData.Data[i].Note;
                                        var _timecomment = Model.ProcessStepSearchResponseData.Data[i].Createdate;
                                        var _usercomment = Model.ProcessStepSearchResponseData.Data[i].Createby;
                                        var _ProcessStepId = Model.DeXuatSearchResponseData.ProcessStepId;
                                        var _IsDone = Model.DeXuatSearchResponseData.IsDone;
                                        var _OrderStep = Model.ProcessStepSearchResponseData.Data[i].OrderStep;
                                        if(Model.ProcessStepSearchResponseData.Data[i].IsLastStep )
                                        {
                                            _css = "stepfinal";
                                            //_comment = "OK nhé.";
                                        }
                                        else
                                        {
                                            if (_ProcessStepId >= _OrderStep)
                                            {
                                                if(_IsDone == -1 && _ProcessStepId == _OrderStep)
                                                {
                                                    _css = "stepreject";
                                                    //_comment = "reject nhé";
                                                }
                                                else
                                                {
                                                    _css = "stepactive";
                                                    //_comment = "comment nhé";
                                                }
                                            }
                                            else
                                                _css = "stepnoneactive";
                                        }

                                        <li class="step @_css" >
                                            <div class="step-title waves-effect waves-dark">@Model.ProcessStepSearchResponseData.Data[i].ProcessRoleName</div>
				                            <div class="step-new-content">

                                                @if(Model.IDRole ==  _ProcessStepId && _ProcessStepId != 0 )
                                                {
                                                    @if(_IsDone == 0)
                                                    {
                                                        @if(i>0)
                                                        {
                                                            <div class="row">
                                                                <div class="md-form col-12 ml-auto">
                                                                    <input id="txtNote" type="text" class="form-control validate" required="" value="Tôi đồng ý" placeholder="Hãy nhập ghi chú" >
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            @if(!string.IsNullOrEmpty(_comment))
                                                            {
                                                                <label>Nội dung:</label>@_comment <br />
                                                                <label>Người duyệt:</label>@_usercomment <br />
                                                                <label>Thời gian duyệt:</label>@_timecomment
                                                            }
                                                            else
                                                            {
                                                                @_comment
                                                            }

                                                        }
                                                        <div class="step-actions">
						                                    <button class="waves-effect waves-dark btn btn-sm btn-primary m-0 mt-4 btnpush" type="button" style="width:100px">Đẩy</button>
                                                            <button class="waves-effect waves-dark btn btn-sm btn-danger m-0 mt-4 btnreject" type="button" style="width:100px">Từ chối</button>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        @if(!string.IsNullOrEmpty(_comment))
                                                        {
                                                            <label>Nội dung:</label>@_comment <br />
                                                            <label>Người duyệt:</label>@_usercomment <br />
                                                            <label>Thời gian duyệt:</label>@_timecomment
                                                        }
                                                        else
                                                        {
                                                            @_comment
                                                        }
                                                    }
                                                }
                                                else
                                                {

                                                    @if(!string.IsNullOrEmpty(_comment))
                                                    {
                                                        <label>Nội dung:</label>@_comment <br />
                                                        <label>Người duyệt:</label>@_usercomment <br />
                                                        <label>Thời gian duyệt:</label>@_timecomment
                                                    }
                                                    else
                                                    {
                                                        @_comment
                                                    }
                                                }
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </form>

                        </section>
                        <!--Section: Live preview-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="~/Views/Partial/_OverlayModal.cshtml" />

@section top {
<link href="~/css/common.css" rel="stylesheet" />
<link rel="stylesheet" href="~/node_modules/daterangepicker/daterangepicker.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/node_modules/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/node_modules/admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/node_modules/admin-lte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<link href="~/css/fixedColumns.dataTables.min.css" rel="stylesheet" />
@*<link href="~/css/compiled-4.20.0.min.css" rel="stylesheet" />*@
}
@section middle_scripts
{
<script src="~/node_modules/admin-lte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/js/dataTables.fixedColumns.min.js"></script>
<script src="~/node_modules/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/node_modules/admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/node_modules/admin-lte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/node_modules/admin-lte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/node_modules/admin-lte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/node_modules/admin-lte/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
<script src="~/js/extends/dataTables.fixedHeader.min.js"></script>
<script src="~/js/extends/dataTables.rowReorder.min.js"></script>
}
@section scripts
{
<script src="~/lib/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
<script src="~/js/jquery.customValidate.js" type="text/javascript"></script>
<script src="~/js/uri.js" type="text/javascript"></script>
<script src="~/js/compiled.min.js" type="text/javascript"></script>
<script src="~/js/Step/list.js" type="text/javascript"></script>
}

<style type="text/css">
    label.invalid{font-size:12.8px;font-size:.8rem;font-weight:500;color:red!important;top:50px!important}
    label.invalid.active{-webkit-transform:translateY(0)!important;-ms-transform:translateY(0)!important;transform:translateY(0)!important}
    ul.stepper .wait-feedback{left:0;right:0;top:0;z-index:2;position:absolute;width:100%;height:100%;text-align:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
    ul.stepper .step{position:relative;list-style:none}
    ul.stepper .step.feedbacking .step-new-content>:not(.wait-feedback){opacity:.1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"}
    ul.stepper .step:not(:last-of-type).active{margin-bottom:2.25rem}
    ul.stepper .step:before{position:absolute;top:.75rem;counter-increment:section;content:counter(section);height:1.75rem;width:1.75rem;color:#fff;background-color:rgba(0,0,0,.3);-webkit-border-radius:100%;border-radius:100%;text-align:center;line-height:1.75rem;font-weight:400}
    ul.stepper .step.done:before,ul.stepper .step.wrong:before{font-family:'Font Awesome 5 free';font-weight:900}
    ul.stepper .step.active:before{background-color:#4285f4}
    ul.stepper .step.done:before{content:'\f00c';font-size:1rem;background-color:#00c851}
    ul.stepper .step.wrong:before{content:'\f071';font-size:1.1rem;background-color:#ff3547}
    ul.stepper>li:not(:last-of-type){margin-bottom:.625rem;-webkit-transition:margin-bottom .4s;-o-transition:margin-bottom .4s;transition:margin-bottom .4s}
    ul.stepper .step-title{margin:0 -1.3rem;cursor:pointer;padding:.9688rem 2.75rem 1.5rem 4rem;display:block}
    ul.stepper .step-title:after{content:attr(data-step-label);display:block;position:absolute;font-size:.8rem;color:#424242;font-weight:400}
    ul.stepper .step-title:hover{background-color:rgba(0,0,0,.06)}
    ul.stepper .step.active .step-title{font-weight:500}
    ul.stepper .step-new-content{position:relative;display:none;height:calc(100% - 132px);width:inherit;overflow:visible;margin-left:41px;margin-right:24px}
    ul.stepper>.step:not(:last-of-type):after{content:'';position:absolute;top:3.125rem;left:.8438rem;width:.0625rem;height:40%;height:calc(100% - 38px);background-color:rgba(0,0,0,.1);-webkit-transition:all .4s;-o-transition:all .4s;transition:all .4s}
    ul.stepper>.step.active:not(:last-child):after{height:93%;height:calc(100% - 12px)}
    ul.stepper>.step[data-last=true]{margin-bottom:0}
    ul.stepper>.step[data-last=true]:after{height:0;width:0}
    ul.stepper .step-actions{display:-webkit-box;-webkit-box-pack:start}
    ul.stepper .step-actions .btn-flat:not(:last-child),ul.stepper .step-actions .btn-large:not(:last-child),ul.stepper .step-actions .btn:not(:last-child){margin-right:.3125rem}
    ul.stepper .step-new-content .row{margin-bottom:.4375rem}
    ul.stepper .md-form label{left:.875rem}
    ul.stepper .md-form .validate{margin-bottom:0}
    @@media only screen and (min-width:993px){ ul.stepper.horizontal{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;min-height:20rem;margin-left:-1.5rem;margin-right:-1.5rem;padding-left:1.5rem;padding-right:1.5rem;overflow:hidden}
    ul.stepper.horizontal:before{content:'';background-color:transparent;width:100%;min-height:5.25rem;position:absolute;left:-3px;-webkit-border-top-left-radius:2px;border-top-left-radius:2px}
    ul.stepper.horizontal:first-child{margin-top:-2.7rem}
    ul.stepper.horizontal .step{position:static;margin:0;width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:5.25rem!important}
    ul.stepper.horizontal .step:not(:last-of-type):after{content:'';position:static;display:inline-block;width:100%;height:.0625rem}
    ul.stepper.horizontal>.step:last-of-type, ul.stepper.horizontal>.step[data-last=true]{width:auto!important}
    ul.stepper.horizontal>.step.active:not(:last-of-type):after{content:'';position:static;display:inline-block;width:100%;height:.0625rem}
    ul.stepper.horizontal .step.active .step-title:before{background-color:#4285f4}
    ul.stepper.horizontal .step.done .step-title:before{font-family:'Font Awesome 5 Free';font-weight:900;content:'\f00c';font-size:1rem;background:#00c851}
    ul.stepper.horizontal .step.wrong .step-title:before{font-family:'Font Awesome 5 Free';font-weight:900;content:'\f071';font-size:1.1rem;background-color:#ff3547}
    ul.stepper.horizontal .step-title{line-height:5.25rem;height:5.25rem;margin:0;padding:0 1.5625rem 0 4.0625rem;display:inline-block;max-width:13.75rem;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;-ms-flex-negative:0;-webkit-flex-shrink:0;flex-shrink:0}
    ul.stepper.horizontal .step:before{content:none}
    ul.stepper.horizontal .step .step-title:before{position:absolute;top:1.7813rem;left:1.1875rem;counter-increment:section;content:counter(section);height:1.75rem;width:1.75rem;color:#fff;background-color:rgba(0,0,0,.3);-webkit-border-radius:100%;border-radius:100%;text-align:center;line-height:1.75rem;font-weight:400}
    ul.stepper.horizontal .step-title:after{top:.9375rem}
    ul.stepper.horizontal .step-new-content{position:absolute;height:calc(100% - 84px);top:6rem;left:0;width:100%;overflow-y:auto;overflow-x:hidden;margin:0;padding:1.25rem 1.25rem 4.75rem}
    ul.stepper.horizontal .step-actions{position:absolute;bottom:0;left:0;width:100%;padding:20px;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}
    ul.stepper.horizontal .step-actions .btn-flat:not(:last-child), ul.stepper.horizontal .step-actions .btn-large:not(:last-child), ul.stepper.horizontal .step-actions .btn:not(:last-child){margin-left:.3125rem;margin-right:0}
    ul.stepper.horizontal .step-actions, ul.stepper.horizontal .step-new-content{padding-left:2.5rem;padding-right:2.5rem}}ul.horizontal-fix li a {padding: .84rem 2.14rem;}

        .section-preview {
		padding: 0 !important;
	  }
	  .section-preview > section > div {
		padding: 15px 15px 0px 15px;
		border: none !important;
	  }

	  .section-preview > section > div > div:last-child {
		padding-right: 0px!important;
		padding-left: 0px!important;
		width: calc(100% + 30px)!important;
		margin-left: -15px;
		margin-top: 15px;
	  }

	  .section-preview  {
		padding: 0;
	  }

	  .section-preview > section > div > div:last-child  {
		border: 1px solid #dee2e6!important;
	  }

      main input[type=email]:focus,
	  main input[type=password]:focus,
	  main input[type=text]:focus,
	  main input[type=url]:focus,
	  main textarea:focus {
		border: 0;
	  }

	  .embed-responsive-16by9-fix-contact-form::before {
		height: 450px;
	  }

	  @@media (min-width:580px) {

		.modal-contact-form-fix,
		.modal-contact-form-fix * {

		  box-sizing: content-box !important;
		}

	  }

	  @@media (min-width: 1400px) {
		#modalPricing .modal-dialog {

		  max-width: 80vw;
		}
	  }

      ul.stepper {
        padding: 0 1.5rem;
        padding: 1.5rem;
        margin: 1em -1.5rem;
        overflow-x: hidden;
        overflow-y: auto;
        counter-reset: section;
        }
     ul.stepper>li:not(:last-of-type) {
        margin-bottom: 0.625rem;
        -webkit-transition: margin-bottom .4s;
        -o-transition: margin-bottom .4s;
        transition: margin-bottom .4s;
    }
    ul.stepper .step {
        position: relative;
        list-style: none;
    }
    ul.stepper li {
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
    }
    ul.stepper .step:before {
        position: absolute;
        top: 0.75rem;
        counter-increment: section;
        content: counter(section);
        height: 1.75rem;
        width: 1.75rem;
        color: #fff;
        background-color: rgba(0,0,0,.3);
        -webkit-border-radius: 100%;
        border-radius: 100%;
        text-align: center;
        line-height: 1.75rem;
        font-weight: 400;
    }
    ul.stepper .step-title {
    margin: 0 -1.3rem;
    cursor: pointer;
    padding: 0.9688rem 2.75rem 1.5rem 4rem;
    display: block;
}
.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
ul.stepper .step-new-content {
    position: relative;
    display: none;
    height: calc(100% - 132px);
    width: inherit;
    overflow: visible;
    margin-left: 41px;
    margin-right: 24px;
}

ul.stepper>.step:not(:last-of-type):after {
    content: '';
    position: absolute;
    top: 3.125rem;
    left: 0.8438rem;
    width: 0.0625rem;
    height: 40%;
    height: calc(100% - 38px);
    background-color: rgba(0,0,0,.1);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

ul.stepper .stepfinal.active:before {
    background-color: #28a745!important;
}
ul.stepper .stepfinal:before {
    background-color: #28a745!important;
}

ul.stepper .stepreject.active:before {
    background-color: red!important;
}
ul.stepper .stepreject:before {
    background-color: red!important;
}

ul.stepper .stepactive.active:before {
    background-color: #4285f4!important;
}
ul.stepper .stepactive:before {
    background-color: #4285f4!important;
}

ul.stepper .stepnoneactive.active:before {
    background-color: rgba(0,0,0,.3)!important;
}
ul.stepper .stepnoneactive:before {
    background-color: rgba(0,0,0,.3)!important;
}
	</style>

