/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    font-size: 0.9rem;
    font-family: Calibri, sans-serif;
    color: #212529;
}

.swal2-title {
    text-align: left;
}

.select2-container--bootstrap4 .select2-selection--single {
    height: calc(1.8125rem + 2px) !important;
}

.pointer {
    cursor: pointer;
}

.warning-rate {
    display: block;
    background-color: antiquewhite
}

.modal-confirm {
    color: #636363;
    width: 400px;
}

.bg-success-selected {
    background-color: #106a25 !important;
}

.menu-selected {
    background-color: rgba(255,255,255,.1);
    color: #fff;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 125%;
    margin: 30px 0 -10px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}


.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}


.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}

.modal-confirm .icon-box-success {
    border: 3px solid #28a745;
}

.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}

.modal-confirm .icon-box-success i {
    color: #28a745;
}

.modal-confirm .btn, .modal-confirm .btn:active {
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
}


.modal-confirm .btn-danger {
    background: #f15e5e;
}

    .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
        background: #ee3535;
    }

.blue-color {
    color: #007bff;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tbody td {
    /*padding: 0.45rem;*/
}

#boxExcelErrors #errorCollapse.collapse:not(.show) {
    display: block;
    height: auto;
    overflow: hidden;
}

#boxExcelErrors #errorCollapse.collapsing {
    height: 3rem;
}

/*#boxExcelErrors a.collapsed::after {
    content: '+ Xem thêm';
}

#boxExcelErrors a:not(.collapsed)::after {
    content: '- Thu nhỏ';
}*/

table.dataTable > thead .sorting_asc:before, table.dataTable > thead .sorting_desc:after {
    opacity: 0;
    display: none;
}

table.dataTable.table-sm .sorting:after, table.dataTable.table-sm .sorting_asc:after, table.dataTable.table-sm .sorting_desc:after {
    opacity: 0;
    display: none;
}

.required {
    color: red;
}

.theme-primary-button {
    --fa-primary-color: #007bff;
}

.dataTables_filter {
    display: none
}

table.dataTable.fixedHeader-floating {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.fs-17 {
    font-size: 16px;
}

.c-confirm {
    padding: 0.625em 1.1em;
}

.c-deny {
    padding: 0.375rem 0.75rem;
}

.timeline {
    margin-bottom: 30px;
}

    .timeline > div > .timeline-item > .time {
        color: #555;
    }

.fs-90 {
    font-size: 90%;
}

#sla-data-range {
    display: table;
}
/*\
 * Restore Bootstrap 3 "hidden" utility classes.
\*/

/* Breakpoint XS */
@media (max-width: 575px) {
    .hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up,
    .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl {
        display: none !important;
    }
}

/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px) {
    .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up,
    .hidden-unless-xs, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl {
        display: none !important;
    }
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-lg, .hidden-unless-xl {
        display: none !important;
    }
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-xl {
        display: none !important;
    }
}

/* Breakpoint XL */
@media (min-width: 1200px) {
    .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg {
        display: none !important;
    }
}

.elevation-4 {
    background-color: #0066B3;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #07294e;
}

.btn-ouline-color {
    color: #40667a;
    border-color: #40667a;
}

ul.typeahead.dropdown-menu a {
    color: #000;
    font-size: 0.9rem;
}

ul.typeahead.dropdown-menu li {
    padding: 0 10px;
}

table.dataTable tr th.select-checkbox.selected::after {
    content: "✔";
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
}

.bg-med {
    background-color: rgb(0, 102, 179) !important;
}

.text-med {
    color: rgb(255,255,255) !important;
}

[class*=sidebar-dark-] .sidebar a {
    color: rgb(255,255,255);
}

[class*=sidebar-dark-] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*=sidebar-dark-] .nav-sidebar > .nav-item:hover > .nav-link, [class*=sidebar-dark-] .nav-sidebar > .nav-item > .nav-link:focus {
    color: rgb(255,255,255);
}

[class*=sidebar-dark-] .nav-treeview > .nav-item > .nav-link {
    color: rgb(255,255,255);
}

.nav-link {
    padding: 0.4rem 0.25rem;
}

.content-wrapper>.content {
    padding: 0.5rem 0.5rem;
}

.content-wrapper>.content>.container-fluid {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.content-header {
    padding: 5px 0.5rem;
}

.card-footer {
    background-color: rgb(255,255,255);
}

.card {
    margin-bottom: 0.75rem;
    border: 1px solid rgba(0,0,0,0.13);
}

.card-body {
    padding: 0.5rem 1rem;
}

.modal-85percent {
    width: 85vw;
    max-width: none;
    height: 100%;
    margin: 0 auto;
}

.modal-85percent .modal-header {
        border-radius: 0;
    }
.modal-85percent .modal-body {
        overflow-y: auto;
    }
.modal-85percent .modal-footer {
        border-radius: 0;
    }
.main-footer {
    padding: 0.2rem;
}

/*override bootstrap css*/
.med-theme-primary-button {
    --fa-primary-color: #0066B3;
}

.med-btn-outline-primary {
    color: #0066B3 !important;
    border-color: #0066B3 !important;
}

.med-btn-outline-primary:hover {
    color: #fff !important;
    background-color: #0066B3 !important;
    border-color: #0066B3 !important;
}

.page-item.active .page-link {
    background-color: #0066B3 !important;
    border-color: #0066B3 !important;
    color: #fff !important;
}

.page-link {
    color: #0066B3 !important;
}
/*override bootstrap css*/