@{
    ViewData["Title"] = "Tạo kế hoạch đầu tư";
    ViewData["PageTitle"] = "Tạo kế hoạch đầu tư";

}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group mb-0">
                            <label>Năm tài chính:</label>
                            <select class="form-control form-control-sm" id="selectYear">
                                @for (int i = DateTime.Now.Year; i <= DateTime.Now.Year + 2; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                                <option value="-100" selected="selected">Chọn năm tài chính</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-9 align-items-end col-md-9 d-flex justify-content-end">
                        <div class="card-tools float-right">
                            <div class="input-group input-group-sm">
                                <div class="d-flex align-items-center">
                                    <span class="text-truncate align-middle d-none mr-2" id="labelFileSelect"></span>
                                    <button class="btn btn-sm btn-default d-none mr-2" type="button" id="btnStartUpload">
                                        <i class="fas fa-arrow-circle-up mr-1"></i> <span>Tải lên</span>
                                    </button>

                                    <button class="btn btn-sm btn-outline-success mr-2" type="button" id="btnSelectExcelFile" title="Nhập dữ liệu từ excel">
                                        <i class="fas fa-file-excel"></i>
                                    </button>

                                    <a class="btn btn-sm btn-outline-primary mr-2 disabled" downloadExcel href="/CostEstimateItem/DownloadTemplate?opts=xlsx;investment-plan&s=@ViewBag.UnitType&year=@(DateTime.Now.Year + 1)" title="Tải tệp excel mẫu">
                                        <i class="fas fa-file-download"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped table-bordered display nowrap" id="createCostEstimateUploadTable" style="width: 100%;">
                    <thead>
                    <tr>
                        <th position="0" rowspan="2">STT</th>
                        <th position="1" rowspan="2" scope="col" class="align-top">Nội dung</th>
                        <th position="2" rowspan="2" scope="col" class="align-top">Số tiền đầu tư dự kiến</th>
                        <th colspan="@(ViewBag.IsSub == true ? 2: 3)" scope="col" class="align-top text-center">Vốn đầu tư theo phương án tài trợ</th>
                    </tr>
                    <tr>
                        <th position="3" scope="col" class="align-top">Vốn tự có</th>
                        @if (ViewBag.IsSub == false)
                        {
                            <th position="4" scope="col" class="align-top">Đầu tư của MG</th>
                        }
                        <th position="5" scope="col" class="align-top">Vốn vay</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="2" style="text-align: right">
                            Tổng cộng
                            <span id="weekLable"></span>
                        </th>
                        <th></th>
                        @if (ViewBag.IsSub == false)
                        {
                            <th></th>
                        }
                        <th></th>
                        <th></th>
                    </tr>
                    </tfoot>

                </table>
            </div>
            
            <div class="card-body">
                <p class="font-weight-bold">II. Kế hoạch Đầu tư chi tiết</p>
                <table class="table table-sm table-striped table-bordered display nowrap" id="createInvestExcel" style="width: 100%;">
                    <thead>
                    <tr>
                        <th position="0">STT</th>
                        <th position="1" scope="col" class="align-top">Nội dung</th>
                        <th position="2" scope="col" class="align-top">Hạng mục</th>
                        <th position="3" scope="col" class="align-top">Bộ phận đề xuất</th>
                        <th position="4" scope="col" class="align-top">Thời điểm đầu tư</th>
                        <th position="5" scope="col" class="align-top">Số tiền dự kiến</th>
                        <th position="6" scope="col" class="align-top">Phương án vốn</th>
                        <th position="7" scope="col" class="align-top">Tỷ lệ vay(nếu có)</th>
                        <th position="8" scope="col" class="align-top">Số tiền vay dự kiến</th>
                        <th position="9" scope="col" class="align-top">Ghi chú</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>

                    <tfoot>
                    <tr>
                        <th></th>
                        <th colspan="4">Tổng</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>


        <div class="card d-none" id="boxExcelErrors">
            <div class="card-header">
                <h3 class="card-title">Danh sách mã lỗi</h3>
            </div>
            <div class="card-body">
                <p id="errorCollapse" class="collapse" aria-expanded="false">
                </p>
                <a class="collapsed" data-toggle="collapse" href="#errorCollapse" aria-expanded="false" aria-controls="errorCollapse"></a>
            </div>
        </div>
        <div class="card">
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 text-right mb-2">
                        <input type="file" class="d-none" id="costEstimateExcelFile" accept=".xlsx" />
                        <button class="btn btn-sm med-btn-outline-primary" type="button" id="btnCreate">
                            <i class="fad fa-save mr-2"></i> Lưu lại
                        </button>
                        <button class="btn btn-sm med-btn-outline-primary" data-back="true">
                            Quay lại
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section top {
    <link rel="stylesheet" href="~/node_modules/daterangepicker/daterangepicker.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/node_modules/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/node_modules/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
    <link href="~/css/fixedColumns.dataTables.min.css" rel="stylesheet" />
}
@section middle_scripts
{
    <script src="~/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/node_modules/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/node_modules/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/node_modules/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/node_modules/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/js/extends/dataTables.fixedHeader.min.js"></script>
    <script src="~/js/extends/dataTables.scroller.min.js"></script>

    <script src="~/js/investment/create.js"></script>
}